.menu_wrapper {
}
.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 16px;
}
.menu_list > li {
  width: max-content;
}
@media screen and (max-width: 1260px) {
  .menu_list > li {
    width: min-content;
  }
}