.menu_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  padding-left: 20px;
  width: max-content;
}
@media screen and (max-width: 990px) {
  .menu_wrapper {
    display: none;
  }
}
@media screen and (min-width: 990px) {
  .menu_wrapper.mobile {
    display: none;
  }
}

.openMenu {
  display: flex;
  border-top: 1px solid black;
}
.menu_wrapper.openMenu .menu_list{
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 20px;
  padding: 40px 0 0 0;
}
.menu_wrapper.openMenu .menu_item {
  height: 54px;
  margin-bottom: 8px;
}