.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 54px;
  column-gap: 16px;
}

.card {
  background-color: var(--bg-white-color);
  border-radius: var(--card-border-rad);
  border: 1px solid #d9d9d9;
  width: 966px;
  height: 535px;
  cursor: pointer;
  margin-bottom: 133px;
}

.image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: var(--card-img-height-mobile);
  border-top-left-radius: var(--card-border-rad);
  border-top-right-radius: var(--card-border-rad);
}

.img_container {
  position: relative;
  height: 100%;
  width: 310px;
  aspect-ratio: 310/170;
}
.body {
  padding: 24px;
  overflow: hidden;
  height: 180px;
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: var(--section-title-color);
}

.text {
  color: var(--section-title-color);
}
.btn_container {
  z-index: 5;
  background-color: #fff;
  height: 101px;
}

.btn_container > button {
  height: 101px;
  border-radius: 0px;
}

.add_card {
  width: 966px;
  height: 535px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-image: repeating-linear-gradient(
      -36deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    ),
    repeating-linear-gradient(
      54deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    ),
    repeating-linear-gradient(
      144deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    ),
    repeating-linear-gradient(
      234deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    );
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}
.add_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.last_card {
  width: 966px;
  height: 535px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.slide {
  width: 966px;
  height: 535px; 
  background-size: cover;
  background-blend-mode: multiply;
  background-position: left;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 4fr 5fr;
  align-content: center;
  padding: 40px var(--hero-horizontal-padding);
  color: var(--hero-text-color);
  gap: 16px 40px;
}

.slide > *:not(.contentImage) {
  justify-self: start;
}

.info {
  align-self: center;
}

.imageWrapper {
  position: relative;
  width: 288px;
  height: 137px;
  object-position: left;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  align-self: center;
}

.contentImage {
  object-fit: contain;
}

.slideBtn {
  padding: 14px 40px;
}

.fullWidth {
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
}

.caption {
  margin-bottom: unset;
}

@media screen and (max-width: 767.98px) {
  .slide {
    height: var(--hero-height-tablet);
    padding: 40px 16px;
  }
}

@media screen and (max-width: 650px) {
  .slide {
    grid-template: 1fr / 1fr 2fr;
  }
}

@media screen and (max-width: 479px) {
  .slide {
    height: var(--hero-height-mobile);
    grid-template: repeat(4, auto) / 1fr;
    align-content: start;
    row-gap: 32px;
  }

  .imageWrapper {
    grid-row: auto;
    grid-column: auto;
  }

  .slideBtn {
    grid-row: 4 / 5;
  }
}

@media screen and (max-width: 767px) {
  .caption {
    margin-bottom: 38px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .imageWrapper {
    width: 304px;
    height: 146px;
  }
}

@media (min-width: 1280px) {
  .imageWrapper {
    width: 673px;
    height: 324px;
  }
}
