.wrapper {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 8;
}

.closeBar {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 7;
 
}

.img{
    cursor: pointer;
}