.card_item {
  flex-basis: var(--card_item-width-mobile);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--card_item-gap);
}

.text {
  line-height: 150%;
  color: var(--task-text-color);
}

@media (min-width: 712px) {
  .wrapper {
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .card_item {
    flex-basis: var(--card_item-width-tablet);
  }
}

@media (min-width: 1280px) {
  .card_item {
    flex-basis: 384px;
  }
}

@media (min-width: 1440px) {
  .card_item {
    flex-basis: var(--card_item-width-desktop);
  }
}
