.slide {
  height: var(--hero-height-desktop);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: left;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 4fr 5fr;
  align-content: center;
  padding: 40px var(--hero-horizontal-padding);
  color: var(--hero-text-color);
  gap: 16px 40px;
}

.slide > *:not(.contentImage) {
  justify-self: start;
}

.info {
  align-self: center;
}

.contentImage {
  object-fit: contain;
  width: 100%;
  height: auto;
  object-position: left;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .slide {
    height: var(--hero-height-tablet);
  }
}

@media screen and (max-width: 650px) {
  .slide {
    grid-template: 1fr / 1fr 2fr;
  }
}

@media screen and (max-width: 479px) {
  .slide {
    height: var(--hero-height-mobile);
    grid-template: repeat(4, auto) / 1fr;
    align-content: start;
    row-gap: 32px;
  }

  .contentImage {
    grid-row: auto;
    grid-column: auto;
  }

  .slideBtn {
    grid-row: 4 / 5;
  }
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
}

.caption {
  margin-bottom: unset;
}

@media screen and (max-width: 767px) {
  .caption {
    margin-bottom: 38px;
  }
}
