.slide {
  height: var(--hero-height-desktop);
  position: relative;
  background-size: cover !important;
  background-blend-mode: multiply;
  background-position: left;
}
@media (min-width: 320px) {
  .slide {
    background-size: auto 130% !important;
    background-position: 68% 0 !important;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .slide {
    height: 450px;
    background-size: cover !important;
    background-position: center !important;
  }
}
@media (min-width: 769px) {
  .slide {
    background-size: cover !important;
    background-position: center !important;
  }
}
 
.slide > *:not(.contentImage) {
  justify-self: start;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}

.caption {
  line-height: 150%;
}


.text_container {
  color: var(--slider-dots-primary);
  max-width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  padding: 40px 16px 0 16px;
}

@media (min-width: 396px) {
  .text_container {
    justify-content: center;
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .text_container {
    justify-content: center;
    padding-left: 123px;
    max-width: 437px;
  }
}
@media (min-width: 1280px) {
  .text_container {
    padding-left: 155px;
    max-width: 610px;
  }
}
.slideBtn {
  margin-top: auto;
  margin-bottom: 78px;
}

@media (min-width: 768px) {
  .slideBtn {
    margin-top: 24px;
  }
}