.container {
  padding-bottom: 90px;
}
.content {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 98px 70px;
  gap: 24px;
  justify-self: center;
  align-self: center;
}
.donate_items {
  display: grid;
  gap: 26px;
  grid-template-rows: 72px 72px;
  grid-template-columns: repeat(6, 1fr);

}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-top: 89px;
  padding-bottom: 52px;
}
.item {
  grid-row: 1;
  background-color: var(--bg-white-color);
  border: none;
  border-radius: 5px;
  font-size: 32px;
}
.item:focus {
  outline: 2px solid #151515;
}
.item:first-of-type {
  grid-column: span 2;

}
.item:nth-of-type(2) {
  grid-column: 3 / 5;

}
.item:nth-of-type(3) {
  grid-column: 5 / 7;
}
.item:last-of-type {
  grid-row: 2;
  grid-column: 1 / 4;
}

.pay_ways {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: minmax(auto 98px);
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.item_way:focus {
  outline: 2px solid #151515;
}
.item_way {
  background-color: var(--bg-white-color);
  border: none;
  border-radius: 5px;
  max-height: 98px;
  font-size: 48px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.apple_icon {
  display: inline-block;
  height: 71px;
  width: 53px;
  margin-bottom: 8px;
}
.google_icon {
  display: inline-block;
  height: 78px;
  width: 77px;
  margin-bottom: 8px;
}
.uiw_icon {
  display: inline-block;
  height: 83px;
  width: 83px;
  margin-bottom: 8px;
}

.pay_way_text {
  display: inline-block;
}
.input {
  font-size: 24px;
  border: none;
  border-radius: 5px;
  grid-row: 2;
  grid-column: 4 / 7;
  padding-left: 20px;
}
.btn_container {
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px;
  gap: 20px;
}

.btn_close {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: 45px;
  right: 45px;
}
