.socrat_bg {
  position: relative;
  z-index: 0;
}
.container {
  position: relative;
  background-color: var(--bg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: transparent;
}
.title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding: 120px 0 16px 0;
  @media screen and (max-width: 768px)  {
    font-size: 32px;
    padding: 80px 0 24px 0;
  }
  @media screen and (max-width: 480px) {
    padding: 60px 0 12px 0;
    font-size: 24px;
  }
}

.sub_title {
  text-align: center;
  font-size: 20px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
    padding-bottom: 26px;
  }
}

.img_container {
  margin-top: 10px;
  position: relative;
  width: 100%;
  max-width: 768px;
  aspect-ratio: 78/45;
  transform: rotate(-9deg);
}
.img_cover {
  object-fit: contain;
}
