.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--activity-list-item-gap);
  width: 100%;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
}

.image {
  border-radius: var(--activity-list-image-border-rad);
  overflow: hidden;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: var(--activity-list-image-height);

  @media screen and (max-width: 768px) {
    height: var(--activity-list-image-height-tablet);
  }
}

@media screen and (max-width: 360px) {
  .image {
    height: var(--activity-list-image-height-mobile);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--activity-list-item-gap) * 2);
  }
}
