.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--activity-list-item-gap) * 2);
  width: 100%;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.image {
  border-radius: var(--activity-list-image-border-rad-mobile);
  overflow: hidden;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: var(--activity-list-image-height-mobile);
}

@media screen and (min-width: 768px) {
  .image {
    border-radius: var(--activity-list-image-border-rad);
  }

  .image img {
    height: var(--activity-list-image-height-tablet);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--activity-list-item-gap);
  }
}

@media screen and (min-width: 1280px) {
  .image img {
    height: var(--activity-list-image-height);
  }

  .title {
    font-size: 32px;
  }
}
