.wrapper {
  margin: 0 auto;
  width: 60.375rem;
  height: 7.5rem;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-image: repeating-linear-gradient(
      -36deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    ),
    repeating-linear-gradient(
      54deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    ),
    repeating-linear-gradient(
      144deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    ),
    repeating-linear-gradient(
      234deg,
      #c7c7c7,
      #c7c7c7 16px,
      transparent 16px,
      transparent 26px,
      #c7c7c7 26px
    );
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.title {
  line-height: 150%;
  color: #adabc3;
}

.icon {
  vertical-align: middle;
  margin-right: 0.75rem;
}

.input {
  display: none;
}

.cropContainer {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 6;
}

.controls {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 7;
}

.dragActive {
  background-color: rgba(0, 0, 0, 0.043);
}

.error {
  padding-top: 3px;
  color: var(--error-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: lowercase;
}
