/* Default button styles */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: var(--button-primary-padding);
  background-color: var(--button-primary-bg-color);
  border-radius: var(--button-primary-border-rad);

  color: var(--button-primary-color);
  font-size: 20px;
  font-weight: 600;

  border: none;

  cursor: pointer;

  transition: background-color var(--transition),
    color var(--transition) outline var(--transition);

  @media (max-width: 768px) {
    padding: 14px 16px;
  }
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  background-color: var(--button-primary-hover-color);
  color: var(--button-primary-bg-color);
  outline: 2px solid var(--button-primary-bg-color);
}

/* Full width styles */
.button.fullWidth {
  width: 100%;
}

/* Styles for disabled button */
.button:disabled {
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
}
