/* Default button styles */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: var(--button-primary-padding);
  background-color: var(--button-primary-color);

  color: var(--bg-primary-color);
  font-size: 20px;
  font-weight: 600;

  border: none;

  cursor: pointer;
}

/* Full width styles */
.button.fullWidth {
  width: 100%;
}

/* Styles for disabled button */
.button:disabled {
  border-radius: var(--button-primary-border-rad);
  background-color: #ccc;
  cursor: not-allowed;
}

/* styles for donateBtn */
.donateBtn {
  border-radius: var(--button-primary-border-rad);
  transition: background-color var(--transition),
    color var(--transition) outline var(--transition);

  @media (max-width: 767px) {
    padding: var(--button-primary-mobile-padding);
    font-size: 16px;
    font-weight: 400;
  }
}

/* Hover and focus styles for donateBtn */
.donateBtn:hover:not(:disabled),
.donateBtn:focus:not(:disabled) {
  background-color: var(--button-donate-bg-color);
  color: var(--button-donate-color);
  outline: 3px solid var(--button-donate-color);
}

/* styles for sliderBtn */
.sliderBtn {
  font-size: 18px;
  border-radius: var(--button-slider-border-rad);
  transition: background-color var(--transition), color var(--transition);
}

/* Hover and focus styles for sliderBtn */
.sliderBtn:hover:not(:disabled),
.sliderBtn:focus:not(:disabled) {
  background: var(--button-slider-hover-color);
  color: var(--button-donate-color);
}

/* styles for formBtn */
.formBtn {
  border-radius: var(--button-form-border-rad);
  transition: background-color var(--transition), color var(--transition);
}

/* Hover and focus styles for formBtn */
.formBtn:hover:not(:disabled),
.formBtn:focus:not(:disabled) {
  background-color: var(--button-form-hover-color);
  color: var(--button-donate-color);
}

.supportBtn {
  box-sizing: border-box;
  border-radius: var(--button-support-border-rad);
  transition: background-color var(--transition);
  background-color: var(--button-support-bg-color);
}

.supportBtn:hover {
  box-shadow: inset 0 0 0 2px var(--button-support-bg-color);
  background-color: var(--button-support-hover-color);
}
