/* drone */

.drone {
  z-index: 30;
  width: 358px;
  height: 120px;
  position: relative;
  bottom: -15px;
}
.drone-legs {
  position: absolute;
  bottom: 0;
  left: 28%;
  width: 157.489px;
  height: 39.653px;
  z-index: 30;
}
.drone-body {
  position: absolute;
  top: 0;
  left: 29.5%;
  z-index: 10;
}
.drone-left {
  width: 157.531px;
  height: 105.999px;
  position: absolute;
  left: 0;
}
.drone-right {
  width: 157.531px;
  height: 105.999px;
  position: absolute;
  right: 0;
}

.wraper {
  position: relative;
  width: 656px;
  height: 328px;
  overflow: hidden;
  z-index: 20;
}
.scaner {
  position: absolute;

  box-sizing: border-box;
  display: block;
  background: radial-gradient(
    50.99% 50.99% at 50% 49.01%,
    #dab700 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 656px;
  height: 656px;
  border-radius: 100%;
  top: -328px;
  animation-name: scale-scaner;
}
.box {
  background: var(--bg-primary-color);
  width: 656px;
  height: 656px;
  position: absolute;
  z-index: 2;
}
.box-left {
  left: -50%;
  transform-origin: top right;
  transform: rotate(20deg);

  animation-name: rotateAnimation-left;
}
.box-right {
  right: -50%;
  transform-origin: top left;
  transform: rotate(-20deg);

  animation-name: rotateAnimation-right;
}
