@keyframes scale-scaner {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotateAnimation-left {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes rotateAnimation-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: scale(0.95) translate(-50%, 0);
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: scale(1) translate(-50%, 0);
  }
}
.animated {
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* drone */

.drone {
  z-index: 30;
  width: 358px;
  height: 120px;
  position: relative;
  bottom: -15px;
}
.drone-legs {
  position: absolute;
  bottom: 0;
  left: 28%;
  width: 157.489px;
  height: 39.653px;
  z-index: 30;
}
.drone-body {
  position: absolute;
  top: 0;
  left: 29.5%;
  z-index: 10;
}
.drone-left {
  width: 157.531px;
  height: 105.999px;
  position: absolute;
  left: 0;
}
.drone-right {
  width: 157.531px;
  height: 105.999px;
  position: absolute;
  right: 0;
}

/* Scaner */
.wraper {
  position: relative;
  width: 656px;
  height: 328px;
  overflow: hidden;
  z-index: 20;
}
.scaner {
  position: absolute;

  box-sizing: border-box;
  display: block;
  background: radial-gradient(
    50.99% 50.99% at 50% 49.01%,
    #dab700 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 656px;
  height: 656px;
  border-radius: 100%;
  top: -328px;
  animation-name: scale-scaner;
}
.box {
  background: var(--bg-primary-color);
  width: 656px;
  height: 656px;
  position: absolute;
  z-index: 2;
}
.box-left {
  left: -50%;
  transform-origin: top right;
  transform: rotate(20deg);

  animation-name: rotateAnimation-left;
}
.box-right {
  right: -50%;
  transform-origin: top left;
  transform: rotate(-20deg);

  animation-name: rotateAnimation-right;
}
