.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--admin-navbar-bg-color);
  min-width: var(--admin-navbar-width);
  row-gap: var(--admin-navbar-row-gap);
  padding: 24px;
  padding-top: var(--admin-navbar-top-padding);
  z-index: 2;
}
