.wrapper {
  width: 100%;

  @media (min-width: 768px) and (max-width: 1280px) {
    max-width: 704px;
  }

  @media (min-width: 1439px) {
    max-width: 653px;
  }
}

.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.text {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 48px;
}

.form {
  padding: 16px 16px 2px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 768px) {
    padding: 40px 66px 2px 66px;
  }

  @media (min-width: 1280px) {
    padding: 40px 40px 2px 40px;
  }
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.fullInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
