.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.text {
  text-align: center;
  line-height: 1.5;
}

.form {
  padding: 16px 16px 16px 0;

  @media (min-width: 768px) {
    padding: 40px 40px 40px 0;
  }
}
