.wrapper {
  width: 100%;
}

.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;
}

.text {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 41px;
}

.form {
  padding: 16px 16px 2px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.fullInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Only tablet styles (from 768px to 1279.95px) */
@media (min-width: 600px) {
  .wrapper {
    max-width: 589px;
  }
}
@media (min-width: 768px) and (max-width: 1279.95px) {
  .wrapper {
    max-width: 704px;
  }
}

/* Tablet styles (768px and above) */
@media (min-width: 768px) {
  .heading {
    margin-bottom: 24px;
  }

  .form {
    padding: 40px 66px 2px 66px;
  }
}

/* Desktop styles (1280px and above) */
@media (min-width: 1280px) {
  .form {
    padding: 40px 40px 2px 40px;
  }
}

/* Desktop styles (1439px and above) */
@media (min-width: 1439px) {
  .wrapper {
    max-width: 653px;
  }
}
