:root {
  /* BG */
  --bg-primary-color: #f5f5f5;
  --bg-light-blue: #ebf2ff;

  /* Buttons */
  --button-primary-color: #151515;
  --button-primary-border-rad: 24px;
  --button-primary-padding: 14px 24px;

  --button-donate-color: #151515;
  --button-donate-border-rad: 24px;
  --button-donate-bg-color: transparent;
  --button-donate-hover-color: transparent;

  --button-slider-border-rad: 24px;
  --button-slider-color: #151515;
  --button-slider-hover-color: #f5f5f5;

  --button-form-border-rad: 12px;
  --button-form-color: #151515;
  --button-form-hover-color: #f5f5f5;
  --button-form-width: 672px;
  --button-form-height: 75px;
  /* Inputs */

  --input-border-color: #ababab;
  --input-border-rad: 12px;
  --input-bg-color: #fefefe;
  --input-width: 672px;
  --input-height: 64px;

  /* Card */
  --card-primary-bg-color: #ebf2ff;
  --card-secondary-bg-color: #f5f5f5;
  --card-img-height: 240px;

  /* Section */

  --section-padding-main: 120px 40px;
  --section-padding-bgImg: 40px 40px;
  --section-title-color: #151515;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
