:root {
  /* BG */
  --bg-primary-color: #f5f5f5;
  --bg-light-blue: #ebf2ff;

  /* Buttons */
  --button-primary-color: #151515;
  --button-primary-border-rad: 24px;
  --button-primary-padding: 14px 24px;
  --button-primary-mobile-padding: 14px 16px;

  --button-donate-color: #151515;
  --button-donate-border-rad: 24px;
  --button-donate-bg-color: transparent;
  --button-donate-hover-color: transparent;
  --button-slider-border-rad: 48px;
  --button-slider-color: linear-gradient(90deg, #baded3 0%, #abd1e7 100%);
  --button-slider-hover-color: #151515;


  --button-form-border-rad: 12px;
  --button-form-color: #151515;
  --button-form-hover-color: #f5f5f5;
  --button-form-width: 672px;
  --button-form-height: 75px;
  /* Inputs */

  --input-border-color: #ababab;
  --input-border-rad: 12px;
  --input-bg-color: #fefefe;
  --input-width: 672px;
  --input-height: 64px;

  /* Card */

  --card-primary-bg-color: #ebf2ff;
  --card-secondary-bg-color: #f5f5f5;
  --card-img-height: 240px;
  --card-border-rad: 24px;

  --card-list-gap: 16px;

  /* Section */

  --section-padding-main: 120px 40px;
  --section-padding-bgImg: 40px 40px;
  --section-title-color: #151515;
  --section-padding-main-tablet: 80px 32px;
  --section-padding-bgImg-tablet: 40px 32px;
  --section-padding-main-mobile: 80px 16px;
  --section-padding-bgImg-mobile: 32px 16px;

  /*Tasks section*/
  --card_item-width-mobile: 328px;
  --card_item-width-tablet: 340px;
  --card_item-width-desktop: 437px;
  --card_item-gap: 16px;
  --task-text-color: #f5f5f5;
  --task-card-colum-gap: 24px;
  --task-card-row-gap: 40px;

  /* Transition*/
  --transition: 300ms ease-out;

  /* Error list */
  --error-color: #a0041e;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
