:root {
  /* BG */
  --bg-primary-color: #f5f5f5;
  --bg-light-blue: #ebf2ff;
  --bg-white-color: #fff;

  /* Text color*/

  --main-text-color: #151515;

  /* Buttons */
  --button-primary-color: #f5f5f5;
  --button-primary-bg-color: #4285f4;
  --button-primary-hover-color: #c6dafc;
  --button-disabled-bg-color: #e3e3e3;
  --button-primary-border-rad: 5px;
  --button-primary-padding: 14px 24px;

  /* Links */
  --link-primary-color: #fff;
  --link-primary-bg-color: #4285f4;
  --link-primary-hover-color: #c6dafc;
  --link-primary-padding: 12px 10px;
  --link-primary-border-rad: 5px;

  /* Inputs */

  --input-border-color: #ababab;
  --input-border-rad: 12px;
  --input-bg-color: #fefefe;
  --input-width: 672px;
  --input-height: 64px;

  /* Textarea */
  --textarea-height: 18.75rem;

  /* Card */

  --card-primary-bg-color: #ebf2ff;
  --card-secondary-bg-color: #f5f5f5;
  --card-img-height-mobile: 180px;
  --card-img-height: 240px;
  --card-img-height-mobile: 180px;
  --card-border-rad: 24px;

  --card-list-gap-mobile: 40px;
  --card-list-gap: 16px;

  /* Section */

  --section-padding-main: 120px 40px;
  --section-padding-bgImg: 40px 40px;
  --section-title-color: #151515;
  --section-padding-main-tablet: 80px 32px;
  --section-padding-bgImg-tablet: 40px 32px;
  --section-padding-main-mobile: 80px 16px;
  --section-padding-bgImg-mobile: 32px 16px;
  --section-title-color: #151515;

  /* 404 animations */
  --drone-box-rotation: 30deg;
  --drone-animation-duration: 3s;
  --drone-timing-function: linear;
  --drone-fill-mode: forwards;

  /*Tasks section*/
  --card_item-width-mobile: 328px;
  --card_item-width-tablet: 340px;
  --card_item-width-desktop: 437px;
  --card_item-gap: 16px;
  --task-text-color: #f5f5f5;
  --task-card-colum-gap: 24px;
  --task-card-row-gap: 40px;

  /* Projects */
  --card-list-gap-desktop: 32px;
  --card-list-padding-tablet: 16px;

  /* About */
  --about-section-text-color: #151515;

  /* Transition*/
  --transition: 300ms ease-out;

  /* Error list */
  --error-color: #ef4444;
  /* Slider */

  --slider-dots-primary: #f5f5f5;
  --slider-dot-size: 14px;
  --slider-dots-spacing: 8px;

  /* Activity */
  --activity-list-top-margin: 80px;
  --activity-list-item-gap: 24px;
  --activity-list-item-gap-mobile: 40px;
  --activity-list-image-height: 560px;
  --activity-list-image-height-tablet: 289px;
  --activity-list-image-height-mobile: 270px;
  --activity-list-image-border-rad: 24px;

  /* LangMenu */
  --lang-menu-bg-color: #fff;
  --lang-menu-border-color: #e3e3e3;
  --lang-menu-hover-color: #e3e3e3;

  /* Burger Menu */
  --burger-menu-border-color: #e7e6f2;
  --burger-menu-hover-color: #c6dafc;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--bg-primary-color);
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
}

/* hide the badge of recaptcha */

.grecaptcha-badge {
  visibility: hidden;
}
