.wraper {
  margin-top: 140px;
  margin-bottom: 80px;
}

.content {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.text {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.text p:first-child {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .wraper {
    margin-top: 180px;
    margin-bottom: 80px;
  }

  .content {
    gap: 60px;
  }

  .text {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .wraper {
    margin-top: 180px;
    margin-bottom: 120px;
  }
}
