/* .section {
  padding-top: 100px;
} */

.wrapper {
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 32px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
