.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px 0 24px 0;
}
.btn_add_container {
  text-align: right;
}
.btn_send_container {
  padding: 48px 0 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_send_container > * {
  width: 291px;
  height: 64px;
}
