/* Sizes */

.base {
  width: var(--input-width);
}

.full {
  width: 100%;
}

.label {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.5rem;
  display: block;
}

/* General styles */

.textarea {
  border-color: var(--input-border-color);
  border-radius: var(--input-border-rad);
  background-color: var(--input-bg-color);
  height: var(--input-height);
  height: var(--textarea-height);
  padding: 1rem 0.5rem;
}
