.fullWidth {
  width: 100%;
}
.custom_link {
  display: inline-flex;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--button-slider-color);
  background: var(--button-slider-color);
  transition: background var(--transition);
}

.custom_link:focus,
.custom_link:hover {
  color: var(--button-form-hover-color);
  background: var(--button-slider-hover-color);
}
