.footer {
  display: flex;
  width: 100%;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  border: 2px solid black;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.logo img {
  width: auto;
  padding-right: 207px;
}
.category {
  list-style: none;
}
.category {
  display: flex;
  max-width: 345px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.category__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.menu a {
  font-weight: 600;
}
.web__rights a {
  text-decoration-line: underline;
}
.category a:hover {
  color: rgb(50, 18, 165);
}
.contacts__list {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    padding: 40px 32px;
    row-gap: 24px;
  }
  .wrapper {
    gap: 24px;
    flex: 1 0 0;
  }
  .logo img {
    padding-right: 33px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .footer {
    padding: 40px 16px;
    gap: 40px;
    flex-shrink: 0;
  }
  .wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 0px;
    row-gap: 16px;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  .logo img {
    padding-right: 0px;
  }
  .category {
    max-width: none;
  }
  .menu {
    width: 50%;
    border-right: 1px solid #151515;
    padding-right: 16px;
  }
  .contacts {
    border-top: 1px solid #151515;
  }
  .web__rights {
    width: 50%;
    padding-left: 16px;
  }
  .contacts {
    flex-basis: 100%;
    padding-top: 16px;
  }
  .baza {
    font-size: 12px;
  }
}
