.container{
  background-color: var(--bg-white-color);
  border-radius: 12px;
}
.input_container {
  padding: 32px 0 32px 0;
}
.input_container > * {
  padding-bottom: 20px;
}
.text {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}