.accordion_item {
  padding-bottom: 2rem;
}

.button {
  border-radius: 1.875rem;
  background: #fff;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  padding: 3rem 2.5rem;
  row-gap: 10px;
  line-height: normal;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 1.5rem;
  }
  @media (max-width: 485px) {
    padding: 1rem;
  }
}

.answer {
  padding-top: 1.5rem;
  max-width: 63rem;
  margin: 0 auto;
  color: #151515;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}

.icon_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: 1/1;
  z-index: 1;
  @media (max-width: 768px) {
    max-width: 30px;
    max-height: 30px;
  }
  @media (max-width: 485px) {
    max-width: 24px;
    max-height: 24px;
  }
}

.question {
  @media (max-width: 768px) {
    width: 300px;
  }
  @media (max-width: 485px) {
    width: 200px;
  }
}
