.accordion_item {
  padding-bottom: 2rem;
}

.button {
  color: #151515;
  border-radius: 1.875rem;
  background: #fff;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  padding: 3rem 2.5rem;
  row-gap: 10px;
  line-height: normal;
}
@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
@media (max-width: 485px) {
  .button {
    padding: 1rem;
  }
}

.answer {
  padding-top: 1.5rem;
  max-width: 63rem;
  margin: 0 auto;
  color: #151515;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}

@media (max-width: 768px) {
  .answer {
    font-size: 0.9rem;
  }
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}

.answer_list {
  font-weight: 400;
  list-style-type: disc;
  padding-left: 30px;
  font-size: 1.125rem;
  line-height: 1.875rem;
}
@media (min-width: 1310px) {
  .answer_list {
    width: 1360px;
  }
}
@media (max-width: 1300px) {
  .answer_list {
    width: auto;
  }
}
@media (max-width: 768px) {
  .answer_list {
    font-size: 0.9rem;
  }
}
.answer_list li {
  padding-bottom: 30px;
  width: 100%;
}
.icon_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: 1/1;
  z-index: 1;
}
@media (max-width: 768px) {
  .icon_wrapper {
    max-width: 30px;
    max-height: 30px;
  }
}
@media (max-width: 485px) {
  .icon_wrapper {
    max-width: 24px;
    max-height: 24px;
  }
}

@media (max-width: 1000px) {
  .question {
    max-width: 300px;
  }
}
@media (max-width: 485px) {
  .question {
    max-width: 200px;
  }
}
