.wrapper {
  padding: 2.5rem 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 47rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 767.95px) {
  .inner {
    flex-wrap: wrap;
    row-gap: 2.063rem;
  }
}

@media (min-width: 768px) {
  .title {
    width: 14.25rem;
    font-size: 1.5rem;
  }

  .inner {
    column-gap: 1rem;
  }
}

@media (min-width: 1280px) {
  .title {
    width: 38.125rem;
    font-size: 2rem;
  }

  .inner {
    column-gap: 2.375rem;
  }
}
