.logo {
  font-size: 1.25rem;
}
.sub_logo {
  font-size: 1rem;
  display: block;
  font-weight: 400;
}
.logo_container {
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  cursor: pointer;
  max-width: 325px;
}

/* Logo text */
@media screen and (min-width: 1200px) {
  .logo::before {
    content: "НАН України";
  }
  .sub_logo::before {
    content: "НДП НДЦ проблем надрокористування “Георесурс“";
  }
}
@media screen and (min-width: 361px) and (max-width: 1199px) {
  .logo::before {
    content: "НАН України";
  }
  .sub_logo::before {
    content: "ДП НДЦ “Георесурс“";
  }
}
@media screen and (max-width: 360px)  {
  .logo::before {
    content: "НAHУ";
  }
  .sub_logo::before {
    content: "ДП НДЦ “Георесурс“";
  }
}
