.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.6);
}
@media (orientation: landscape) {
  .container {
    overflow: auto;
  }
}
/* @media (min-height: 450px) {
  .container {
    overflow: auto;
  }
} */
.content {
  position: relative;
  margin: 20px;
  border-radius: var(--modal-small-border-radius);
  background-color: var(--modal-bg-color);
  outline: 1px solid #1b3969;
}
.big_modal {
  outline: none;
  border-radius: var(--modal-big-border-radius);
}
@media (orientation: landscape)  {
  .content {
    position: absolute;
    top: 0;
  }
}
.btn_close {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 18px;
}
.btn_close_bm {
  width: 18px;
  height: 18px;
  top: 16px;
  right: 16px;
}
@media (min-width: 660px) {
  .btn_close_bm {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
  }
}
@media (min-width: 1024px) {
  .btn_close_bm {
    width: 32px;
    height: 32px;
    top: 32px;
    right: 32px;
  }
}

.overflowHidden {
  overflow: hidden;
}
