.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.6);
}
.content {
  position: relative;
  margin: 20px;
  border-radius: var(--modal-small-border-radius);
  background-color: var(--modal-bg-color);
  outline: 1px solid #1b3969;
}

.big_modal {
  width: 100%;
  outline: none;
  border-radius: var(--modal-big-border-radius);
}
.btn_close {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: 16px;
  right: 16px;
}
.btn_close_bm {
  top: 45px;
  right: 45px;
}

.overflowHidden {
  overflow: hidden;
}
