.burger_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 0;
  z-index: 100;
  position: absolute;
  width: 360px;
  min-height: 489px;
  background-color: var(--bg-white-color);
}
.sub_menu {
  width: 100%;
}
.burger_btn_container {
  width: 100%;
  padding: 75px 16px 32px 16px;
}

@media screen and (max-height: 575.98px) {
  .burger_menu {
    min-height: 0;
    max-height: 260px;
    overflow: scroll;
  }
}

@media screen and (max-width: 360px) {
  .burger_menu {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .burger_menu {
    display: none;
  }
}
