.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  min-height: 457px;
  max-width: 391px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-white-color);
  overflow: hidden;
  border-radius: 12px;
  padding: 52px 50px 40px 50px;
}
.input_container {
}
.title {
}
.text {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}