.container {
  width: 446px;
  height: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  gap: 12px;
}
.btn_close {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: 16px;
  right: 16px;
}
