.link {
  font-weight: 600;
  cursor: pointer;
}
.link:focus:not(.link_btn),
.link:hover:not(.link_btn) {
  border-bottom: 2px solid var(--button-primary-color);
  font-size: 1.125em;
}
.link_btn {
  border-radius: var( --button-slider-border-rad);
  padding: var(--button-primary-padding);
  background-color: var(--button-primary-color);
  color: var(--bg-primary-color);
  font-size: 1.125rem;
}
.link_btn:focus,
.link_btn:hover {
  color: var(--button-primary-color);
  background: var(--button-slider-color);
}
.active:not(.link_btn) {
  border-bottom: 2px solid var(--button-primary-color);
}


