.container {
    padding: 120px 40px;

    background-repeat: no-repeat;
    background-size: 100% auto;

    @media screen and (max-width: 767px) {}

    @media screen and (min-width: 768px) and (max-width: 1023px) {}
}

.title {
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.desc {
    color: #151515;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.descLine {
    display: inline-block;
    width: 1px;
    height: 66px;
    background: #151515;
    margin-right: 32px;
    margin-left: 32px;
}

.containerHeaderWrapper {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
