.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-color: transparent;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}

.desc {
  color: var(--section-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.descLine {
  display: inline-block;
  background: var(--section-title-color);
}

.containerHeaderWrapper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Desktop styles (1280px and above) */
@media (min-width: 1280px) {
  .container {
    background-position: 50% 30%;
    padding: var(--section-padding-main);
    max-width: 1440px;
  }

  .container.hasBgImg {
    padding: var(--section-padding-bgImg);
  }

  .desc {
    width: 760px;
  }

  .title {
    white-space: nowrap;
  }

  .descLine {
    width: 1px;
    height: 66px;
    margin-right: 32px;
    margin-left: 32px;
  }
}

/* Tablet styles (768px to 1439px) */
@media (min-width: 768px) and (max-width: 1280px) {
  .container {
    padding: var(--section-padding-main-tablet);
    max-width: 768px;
  }

  .container.hasBgImg {
    padding: var(--section-padding-bgImg-tablet);
  }

  .descLine {
    display: inline-block;
    width: 1px;
    height: 66px;
    background: var(--section-title-color);
    margin-right: 32px;
    margin-left: 32px;
  }
}

/* Mobile styles (360px to 767px) */
@media (min-width: 360px) and (max-width: 767px) {
  .container {
    padding: var(--section-padding-main-mobile);
    min-width: 360px;
    max-width: 480px;
  }

  .container.hasBgImg {
    padding: var(--section-padding-bgImg-mobile);
  }

  .descLine {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .containerHeaderWrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .centered {
    margin-bottom: 24px;
  }
}
