.container {
  background-color: transparent;
  position: relative;
}

.container.hasBgImg {
  background-color: var(--grey-text-color);
}

.container img {
  object-position: center 25%;
  object-fit: cover;
}

.wrapper {
  position: absolute;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  padding-left: 8px;
}

.desc {
  color: var(--section-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.descLine {
  display: inline-block;
  background: var(--section-title-color);
}

.containerHeaderWrapper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.title_margin {
  margin-bottom: 40px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Mobile styles (to 767px) */
@media (max-width: 767.98px) {
  .container {
    padding-top: var(--section-padding-main-mobile);
    padding-bottom: var(--section-padding-main-mobile);
  }

  .container.hasBgImg {
    padding-top: var(--section-padding-bgImg-mobile);
    padding-bottom: var(--section-padding-bgImg-mobile);
  }

  .descLine {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .containerHeaderWrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .centered {
    margin-bottom: 24px;
  }

  .desc {
    text-align: left;
  }
  .noPaddingTop {
    padding-top: 0;
  }
}

/* Tablet styles (768px to 1439px) */
@media (min-width: 768px) {
  .container {
    padding-top: var(--section-padding-main-tablet);
    padding-bottom: var(--section-padding-main-tablet);
  }

  .container.hasBgImg {
    padding-top: var(--section-padding-bgImg-tablet);
    padding-bottom: var(--section-padding-bgImg-tablet);
  }

  .containerHeaderWrapper:not(.centered) {
    justify-content: flex-start;
  }

  .containerHeaderWrapper {
    flex-direction: row;
    /* justify-content: flex-start; */
  }

  .title {
    text-align: left;
    min-width: 260px;
  }

  .hasTitleWidth {
    width: 260px;
  }

  .descLine {
    display: inline-block;
    width: 1px;
    height: 66px;
    background: var(--section-title-color);
    margin-right: 32px;
    margin-left: 32px;
  }
  @-moz-document url-prefix() {
    .descLine {
      width: 3px;
    }
  }
  .noPaddingTop {
    padding-top: 0;
  }
}

/* Desktop styles (1280px and above) */
@media (min-width: 1280px) {
  .container {
    background-position: 50% 30%;
    padding-top: var(--section-padding-main);
    padding-bottom: var(--section-padding-main);
  }

  .container.hasBgImg {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: var(--section-padding-bgImg);
    padding-bottom: var(--section-padding-bgImg);
  }

  .desc {
    width: 760px;
  }

  .title:not(.centered) {
    min-width: 400px;
    max-width: 405px;
  }

  .title.excludeMaxWidthTitle {
    max-width: none;
  }

  .descLine {
    width: 1px;
    height: 66px;
    margin-right: 32px;
    margin-left: 32px;
  }
  .title_margin {
    margin-bottom: 60px;
  }
}

@media (max-width: 1279.98px) {
  .wrapper.noRightPadding {
    padding-right: 0;
  }
}
