.menu_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  padding-left: 20px;
  width: max-content;
}
@media screen and (max-width: 990px) {
  .menu_wrapper {
    display: none;
  }
}
@media screen and (min-width: 990px) {
  .menu_wrapper.mobile {
    display: none;
  }
}

.openMenu {
  display: flex;
}
.menu_wrapper.openMenu .menu_list {
  width: 100%;
  flex-direction: column;
  padding: 0;
  gap: 0;
}

.menu_wrapper.openMenu .menu_item {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 490px) {
    height: 65px;
  }
  border-bottom: 1px solid #E7E6F2;
}
.menu_wrapper.openMenu .menu_item:hover,
.menu_wrapper.openMenu .menu_item:focus {
  background-color: #C6DAFC;
}
