.inner {
  display: flex;
  column-gap: 3.31rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 1300px) {
    flex-wrap: wrap;
    row-gap: 12rem;
  }
  @media (max-width: 640px) {
    row-gap: 7rem;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 46.875rem;
  aspect-ratio: 3/2;
  z-index: 1;
}

.img {
  border-radius: 1.5rem;
  object-fit: contain;
}

.info {
  position: absolute;
  width: 70%;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -130%);
  z-index: 2;
  background-color: rgba(34, 51, 79, 1);
  border-radius: 1.5rem;
  box-shadow: 0px 3.754666566848755px 5.631999969482422px 0px
    rgba(0, 0, 0, 0.15);
}

.infoText {
  padding: calc(14% - 20px);
  color: #fff;
  text-align: center;
  font-size: calc(14px + 4 * ((100vw - 320px) / 680));
  font-weight: 600;
  line-height: normal;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  gap: 1rem;
  max-width: 34rem;
  margin-left: 20px;
}

.listItem {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
