.pageWrapper {
  display: flex;
  column-gap: var(--admin-layout-gap);
  height: inherit;
  position: relative;
  z-index: 1;
}
.pageWrapper::after {
  position: relative;
  content: "s";
  display: block;
  position: fixed;
  z-index: -1;
  margin-top: -120px;
  color: transparent;
  width: calc(var(--admin-navbar-width) - 24px);
  height: 100%;
  background-color: var(--admin-navbar-bg-color);
}
.pageWrapper > :nth-child(2) {
  padding: 32px 0;
  /* align-self: center; */
  margin: 0 auto;
  height: 100%;
}
