.list {
  display: flex;
  flex-direction: column;
  gap: var(--card-list-gap-mobile);
}

.card {
  overflow: hidden;
  background-color: var(--bg-white-color);
  border-radius: var(--card-border-rad);
  min-height: 425px;
}

.image {
  position: relative;
  display: block;
  width: 100%;
  height: var(--card-img-height-mobile);
}

.body {
  padding: 24px;
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.text {
  line-height: 150%;
}

/* Only tablet styles (from 768px to 1279.95px) */
@media (min-width: 768px) and (max-width: 1279.95px) {
  .list {
    gap: var(--card-list-gap);
  }

  .card {
    display: flex;
    min-height: 240px;
  }

  .body {
    padding: var(--card-list-padding-tablet);
    max-width: 50%;
  }
}

/* Tablet styles (768px and above) */
@media (min-width: 768px) {
  .image {
    height: var(--card-img-height);
    width: 340px;
    margin-right: 24px;
  }
}

/* Desktop styles (1280px and above) */
@media (min-width: 1280px) {
  .list {
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--card-list-gap-desktop);
  }

  .card {
    width: 437px;
    min-height: 485px;
  }

  .image {
    width: 100%;
    margin-right: 0;
  }
}
