.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 684px;
}
.message {
  color: var(--modal-white-color);
  text-align: center;
  padding-bottom: 60px;
}
.title {
  font-size: 48px;
  font-weight: 700;
}
.text {
  font-size: 40px;
  font-weight: 600;
}
